*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7fb;
    color:#222;
}

header{
    background:linear-gradient(135deg,#2563eb,#38bdf8);
    color:white;
    text-align:center;
    padding:100px 20px;
}

header h1{
    font-size:3rem;
    margin-bottom:15px;
}

header p{
    font-size:1.2rem;
    margin-bottom:25px;
}

#umowBtn{
    background:white;
    color:#2563eb;
    border:none;
    padding:15px 30px;
    border-radius:12px;
    cursor:pointer;
    font-size:1rem;
    font-weight:bold;
    transition:.3s;
}

#umowBtn:hover{
    transform:translateY(-3px);
}

section{
    max-width:1000px;
    margin:40px auto;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

h2{
    margin-bottom:20px;
}

.usluga{
    display:flex;
    justify-content:space-between;
    padding:20px 0;
    border-bottom:1px solid #eee;
}

input{
    width:100%;
    padding:15px;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid #ddd;
    border-radius:10px;
}

#rezerwacja button{
    background:#2563eb;
    color:white;
    border:none;
    padding:15px 25px;
    border-radius:10px;
    cursor:pointer;
}
